/*Feuille de style CV DUCHER FRED*/

.page
{
	font-family: 'Roboto', sans-serif;
}
h1
{
	color: black;
}

/* Header */

.mainhead__photo
{
	background-color: #FDD835;
	display:flex;
	justify-content: space-around;
}
.mainhead__photo__portrait
{
   width:200px;
   clip-path:ellipse(50% 50%);
   margin-top: 25px;
   margin-bottom: 25px;
}
.mainhead__title
{
	color:#37474F;
}
.mainhead__title_box__yellow
{
	color:#FDD835; 
}
u
{
	text-decoration-color:#FDD835;  
}

/* Partie gauche */
.left
{
	background-color:#FDD835;
	color:#37474F;
	height: auto; 
}
.left__box__title
{
	background-color: #37474F;
	color: #FDD835;
	text-align: center;
}
.left__box__bar
{
	padding: 20px;
}
i
{
color: #37474F;
}
i.fas
{
	font-size: 40px;
	display: inline-block;
	margin: 15px;
}

/* Partie droite */
.right__box
{
	color:#37474F;
}
.right__box__title
{
	color: black;
	border-bottom: solid 2px #FDD835 ;
}
