/*Feuille de style CV DUCHER FRED*/

.page
{
	font-family: 'Roboto', sans-serif;
	font-size: small;
	font-weight: 500;
	margin: auto;
	max-width: 1280px;
}
h1
{
	color: black;
}

/* Header */

.mainhead__photo
{
	background-color: #FFEB3B;
	display:flex;
	justify-content: space-around;
	height: 100%;

}
.mainhead__photo__portrait
{
   width:180px;
   clip-path:ellipse(50% 50%);
   margin:50px 80px 50px 80px;
   
}
.mainhead__title
{
	color:#37474F;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mainhead__title__box__yellow
{
	color:#FFEB3B;
	padding-left: 65px; 
}
.mainhead__title__box
{
	display: block;
	padding-left:65px ;
}
u
{
	text-decoration-color:#FFEB3B;  
}

/* Partie gauche */

.left
{
	background-color:#FFEB3B;
	color:#37474F;
	height:100%;
	display:flex; 
	flex-direction:column;
}
.left__top
{
	flex-grow:1;
	font-size: 15px;
}
.left__top__box__title
{
	background-color: #37474F;
	color: #FFEB3B;
	text-align: center;
}
.left__top__box__bar
{
	text-align: justify;
	padding: 20px;
}
.left__bot__box__title
{
	background-color: #37474F;
	color: #FFEB3B;
	text-align: center;
	margin-bottom: 0px;
}
.left__bot__box__bar
{
	padding: 25px;
	background-color: #FFEB3B;
	display: flex;
	justify-content: space-around;
	font-size: 45px;
}
i
{
color: #37474F;
}
i.fas
{
	display: inline-block;
}

/* Partie droite */

.right__box
{
	color:#37474F;
}

/* Partie droite barre titre et icones font awesome jaunes */

.right__box__title
{
	color: black;
	display: inline;
}
.right__box__titlebar
{
	border-bottom: solid 2px #FFEB3B ;
	margin-left: 65px;
	font-size: 30px;
}
.fa-briefcase
{ 
	color: #FFEB3B;
	margin-right: 15px;
}
.fa-graduation-cap
{ 
	color: #FFEB3B;
	margin-right: 15px;
}
.fa-pencil-alt
{
	color:#FFEB3B;
	margin-right: 15px;
}

/* Partie droite liste avec date et contenu */

.right__box__text
{
	display:flex;
	padding-top: 20px;
}
.right__box__text__date
{
	margin-left:65px ;
	flex-grow: 1;
	font-size: 15px;
	display:inline-flex;
}
.right__box__text__content
{
	width: 60%;
	font-size: 15px;
}
.fa-dot-circle
{
	color:#FFEB3B;
	padding-right: 15px;
	padding-top: 5px;
}
.fa-circle
{
	color:#FFEB3B;
	padding-right: 15px;
	padding-top: 5px;
}


/* Taille d'écran < à 768px */
/* responsive header */
@media(max-width:768px)
{
.mainhead__title
	{
		color:#37474F;
		display: inline;
		text-align: justify;
	}
.mainhead__title__box__yellow
	{
		color:#FFEB3B;
		padding: 0px; 
	}
.mainhead__title__box
	{	
		color:#37474F;
		padding:0px;
	}
.right__box__titlebar
	{
	border-bottom: solid 2px #FFEB3B ;
	margin-left: 0px;
	font-size: smaller;
	}
.right__box__text__date
	{
		margin-left:5px ;
		flex-grow: 1;
		font-size: 15px;
		display:inline-flex;
	}


